/// Base White
/// @group cv
/// @type colour
$white: #ffffff !default;
$whiteRGBA: hex-to-rgba($white, 1);

/// Base Black
/// @group cv
/// @type colour
$black: #000000 !default;
$blackRGBA: hex-to-rgba($black, 1);

/// Site Colours
/// @group cv
/// @type colour
$dmgColours:(
  black: $black,
  white: $white,
  blue: #004360,
  royalBlue: #005EB8,
  orange: #E86000,
  red: #B4001E,
  yellow: #FFD228,
  green: green
);

/// Monochromatic Colours
/// @group cv
/// @type colour
$monochrome: (
  100:#000000,
  105:#0d0d0d,
  110:#1b1b1b,
  115:#282828,
  120:#363636,
  125:#434343,
  130:#515151,
  135:#5e5e5e,
  140:#6b6b6b,
  145:#797979,
  150:#868686,
  155:#949494,
  160:#a1a1a1,
  165:#aeaeae,
  170:#bcbcbc,
  175:#c9c9c9,
  180:#d7d7d7,
  185:#e4e4e4,
  190:#f2f2f2,
  195:#ffffff,
  ) !default;