@import 'componentInclude';

$gradient: linear-gradient(to right, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);

.heroBanner {
  position: relative;

  &-image {
    &.mask {
      &-true {
        &:after {
          content: '';
          position: absolute;
          inset: 0;
          /* shorthand for top:0; right:0; bottom:0; left:0 */
          background: rgba(0, 0, 0, 0.25);
          /* Adjust alpha for darkness */
          pointer-events: none;
          /* Allow clicks to pass through */
          height: 100%;
          width: 100%;
        }


      }
    }
  }


  &-copy {
    position: absolute;
    z-index: 5;
    top: 15px;
    left: 15px;
    right: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.025);
    /* Semi-transparent background */
    backdrop-filter: blur(3px) saturate(180%);
    /* Frosted glass effect */
    border: 1px solid rgba(255, 255, 255, 0.50);
    /* Subtle border */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
      inset 0 4px 20px rgba(255, 255, 255, 0.3);

    @include media-breakpoint-up(lg) {
      width: 40%;
      top: 25px;
      left: unset;
      right: unset;
      padding: 15px;
    }

    /* Depth and glow */

    /// font colours
    h1,
    h2 {
      color: var(--dmg-baseColour-white);
      font-weight: 500;
      line-height: 1.2;
      text-shadow: 4px 2px 5px var(--dmg-baseColour-blue);
    }

    h2 {
      margin: 0;
    }



    &.side {
      &-left {
        @include media-breakpoint-up(lg) {
          left: 25px;
        }

      }

      &-right {
        @include media-breakpoint-up(lg) {
          right: 25px;
        }
      }
    }
  }
}