@if (h1Html || imgDesktop || imgMobile || (parent && banners && banners[parent])) {
<div class="heroBanner p-0 {{ positionClass }}">
  <div class="heroBanner-image mask-{{ imageMask }}">
    <picture>
      <!-- image should be 480 x 320 -->
      <source media="(max-width:767px)"
        srcset="images/hero-banners/mobile/{{ imgMobile ? imgMobile : (banners[parent] && banners[parent].bgImageMobile) }}">
      <!-- image should be 1920 x 600 -->
      <source media="(min-width:768px)"
        srcset="images/hero-banners/desktop/{{ imgDesktop ? imgDesktop : (banners[parent] && banners[parent].bgImageDesktop) }}">
      <img
        src="images/hero-banners/desktop/{{ imgDesktop ? imgDesktop : (banners[parent] && banners[parent].bgImageDesktop) }}"
        width="100%" alt="" class="">
    </picture>

  </div>
  <div class="heroBanner-copy side-{{ positionClass }}">
    <h1 [innerHTML]=" h1Html ? h1Html : (banners[parent] && banners[parent].h1) "></h1>
    @if ( h2Html || (parent && banners && banners[parent] && banners[parent].h2) ){
    <h2 [innerHTML]=" h2Html ? h2Html : banners[parent].h2"></h2>
    }
    @if (ctaCopy && ctaTarget ){
    <a href="{{ ctaTarget ? ctaTarget :  banners[parent].ctaTarget}}" 
      matFab 
      extended 
      matButton="filled" class="btn">
      {{ ctaCopy ? ctaCopy : (banners[parent] && banners[parent].ctaCopy)  }}
      <mat-icon iconPositionEnd>chevron_right</mat-icon></a>
    }

  </div>
</div>
}