@import 'componentInclude';

ul{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  @include media-breakpoint-up(lg){
    width: 75%;
  }
  li{
    margin: 0;
    padding: 0;
    flex: 0 0 50%;
    a{
      font-weight: 700;
      font-size: 1.25rem;
    }
  }
}