@import 'componentInclude';

ul{
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  @include media-breakpoint-up(lg){
    width: 75%;
  }
  li{
    flex: 0 0 50%;
    margin: 0;
    padding: 0;
    a{
      font-size: 1.5rem;
      font-weight: 400;
      text-decoration: none;
    }
  }
}