ul {
  margin: 0;
  padding: 0;
  list-style: none;

  .navItem {
    .navItem-link {
      font-weight: 400;
      font-size: 1.75rem;
      color: var(--dmg-baseColour-blue);
      padding: 10px 5px 0 5px;
      &:hover{
        border-bottom: 5px solid var(--dmg-baseColour-orange);

      }
    }
  }
}