@import 'componentInclude';

@import 'navbar';
@import 'offcanvas';

.offcanvas{
  background-color: map-get($dmgColours, white );
  &-header{
    padding: 15px 15px 0 15px;
    h3{
      margin: 0;
    }
  }
}

.navbar{
  &-nav{
    padding: 0;
    margin: 0;
  }
  &-toggler{
    position: absolute;
    right: 0;
  }
}

.nav{
  &-item{

  }
  &-link{
    font-size: 2rem;
    &:hover{
      border-bottom: 5px solid var(--dmg-link-colour-hover)
    }
  }
}


