<app-hero-banner [parent]="parentComp"></app-hero-banner>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
      <h2 class="first">Your story matters, let’s shape it together.</h2>
      <p>
        We’d love to hear from you. Whether you’re exploring a new project, have a question about
        our work, or simply want to connect, our team is here to listen. Drop us a note and we’ll
        get back to you with clarity, ideas, and next steps.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-8">
      <form [formGroup]="contactForm" class="row">
        <div class="col-md-6">
          <label class="form-label" for="fullName">Full name</label>
          <input type="text" class="form-control" formControlName="fullName" name="fullName" />
          <div class="error-message">
            @if (
              (contactForm.controls['fullName'].invalid &&
                contactForm.controls['fullName'].touched) ||
              contactForm.controls['fullName'].dirty
            ) {
              @if (contactForm.controls['fullName'].errors?.['required']) {
                <span>Please enter your first name.</span>
              }
            }
          </div>
        </div>
        <div class="col-md-6">
          <label class="form-label" for="email">Email</label>
          <input type="email" class="form-control" formControlName="email" name="email" />
          <div class="error-message">
            @if (
              (contactForm.controls['email'].invalid && contactForm.controls['email'].touched) ||
              contactForm.controls['email'].dirty
            ) {
              @if (contactForm.controls['email'].errors?.['required']){
                Please enter your email address
              }
            }
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-lg-8">
      <button class="btn btn-primary" type="button" [disabled]="allFieldsNull()" (click)="onSubmit()">Submit</button>
    </div>
  </div>
</div>
