<div class="body-image imgHolder" [class.loading]="loading | async">
  <!-- Show loading spinner when loading -->
  @if (loading | async){
  <div class="imgHolder-loader">
    Loading...
  </div>
  } 


  <!-- Show image when available -->
@if (currentImage$ | async; as image) {
  <div class="{{css}}" attr.attr-id="{{ image._id }}">
    <picture>
      <source [srcset]="image.mobileImg" media="(max-width:767px)">
      <source [srcset]="image.desktopImg" media="(min-width: 768px)">
      <img [src]="image.mobileImg" [alt]="image.altTag" class="imgHolder-img" [class.published]="image.published" loading="lazy">
    </picture>
  </div>
}



  <!-- Show error if no image found -->
  @if (!(currentImage$ | async) && !(loading | async)){
  <div class="imgHolder-error">
    No image found
  </div>
  }
</div>