<div class="container">
    <div class="row">
    	<div class="col-12 col-lg-4">
        	<app-footer-logo></app-footer-logo>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-center">
        	<app-footer-nav></app-footer-nav>
        </div>
        <div class="col-12 col-lg-4">
        	<app-footer-social></app-footer-social>
        </div>
    </div>
    <div class="row mt-5">
    	<div class="col-12">
            Copyright @ 2025 | <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a>
        </div>
    </div>
</div>
