<div class="container">
    <div class="row">
    	<div class="col-12 col-lg-4 mb-5">
        	<app-footer-logo></app-footer-logo>
        </div>
        <div class="col-12 col-lg-4 d-flex justify-content-center mb-5">
        	<app-footer-nav></app-footer-nav>
        </div>
        <div class="col-12 col-lg-4 mb-5">
        	<app-footer-social></app-footer-social>
        </div>
    </div>
    <div class="row">
    	<div class="col-12">
            Copyright &#64; {{ currentYear }} | <a routerLink="terms-and-conditions">Terms & Conditions</a> | <a routerLink="privacy-policy">Privacy Policy</a>
        </div>
    </div>
</div>
