@import 'componentInclude';


.header-logo{
    display: flex;
    width: 150px;
    @include media-breakpoint-up(lg){
width: 300px;
    }
    mat-icon{
        width: 100%;
        height: auto;
    }
}