@import 'componentInclude';


.header-logo {
    display: flex;
    width: 200px;
    height: 64px;


    @include media-breakpoint-up(lg) {
        width: 300px;
    }

    mat-icon {
        width: 100%;
        height: auto;
    }
}