<div id="{{ silderID }}" class="carousel slide" data-bs-ride="carousel">
  <div class="d-flex d-100">
    <div class="quote quote-left">
      <mat-icon>format_quote</mat-icon>
    </div>
    <div class="carousel-inner">
      @for ( review of data; track review; let i = $index){
      <div class="carousel-item" [class.active]="i === 0">
        <h3>{{ review.title }}</h3>
        <p class="copy">{{review.copy}}</p>
        <p class="name">{{ review.name }}</p>
        <div class="testimonial-stars d-flex">
          @for (star of stars; track star) {
            <mat-icon>{{ getStarIcon(review, star) }}</mat-icon>
          }
        </div>
      </div>
      }
    </div>
    <div class="quote quote-right">
      <mat-icon>format_quote</mat-icon>
    </div>
  </div>
  <div class="carousel-buttons w-100">
    <button 
      class="carousel-control-prev" 
      type="button" 
      attr.data-bs-target="#{{ silderID }}" 
      data-bs-slide="prev"
      aria-label="Previous Slide">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button 
      class="carousel-control-next" 
      type="button" 
      attr.data-bs-target="#{{ silderID }}" 
      data-bs-slide="next"
      aria-label="Next Slide">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>