@import 'componentInclude';
@import "carousel";

mat-icon{
  color: var(--dmg-baseColour-orange);
  font-size: 60px;
  width: unset;
  height: unset;
  line-height: 0.5;
  display: flex;
  align-items: flex-start;
}

.quote{
  color: var(--dmg-baseColour-orange);
  font-size: 72px;
  display: flex;
  align-items: flex-start;
  line-height: 1;
  &-left{
    transform: scaleX(-1);
  }
  &-right{
    align-items: flex-start;
  }
}

.carousel{

  &-inner{
    min-height: 180px;
    padding: 10px 5px;
    // background-color: aqua;

  }
  &-buttons{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 65px;

  }
  &-control-prev,
  &-control-next{
    position: relative;
    width: unset;
    filter: unset;
  }
  &-item{
    h3{
      font-weight: 500;      
    }
    p{
      font-weight: 500;
      &.name{
        font-style: italic;
      }
    }
  }
}