@import "bsOverrides";


.mdc {
  &-button {
    padding: 10px 20px;
    &>.mat-icon {
      margin-left: 0;
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}


.btn {
  width: fit-content;
  margin: 0;
  padding: 5px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-size: var(--#{$prefix}font-size-base);
  font-family: var(--#{$prefix}font-family-base);
  font-weight: var(--#{$prefix}body-font-weight);
  line-height: var(--#{$prefix}line-height-base);
  text-decoration: none;
  &-group {
    display: flex;
    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  &-HeroBanner {
    &-primary {
      background-color: var(--#{$prefix}-button-HeroBanner-primary-bg) !important;
      color: var(--#{$prefix}-button-HeroBanner-primary-text) !important;
    }

    &-secondary {
      background-color: var(--#{$prefix}-button-HeroBanner-bg-secondary) !important;
      color: var(--#{$prefix}-button-HeroBanner-text-secondary) !important;
    }
  }

  &-primary {
    background-color: var(--#{$prefix}-button-bg-primary) !important;
    color: var(--#{$prefix}-button-text-primary) !important;
  }

  &-secondary {
    background-color: var(--#{$prefix}-button-bg-secondary) !important;
    border: 2px solid var(--#{$prefix}-button-border-secondary);
    color: var(--#{$prefix}-button-text-secondary) !important;
  }

  mat-icon {
    color: var(--#{$prefix}-button-icon-colour);
  }
}