form {
  margin-bottom: 20px;

  .form {
    &-control {
      font-size: var(--#{$prefix}font-size-base);
      font-family: var(--#{$prefix}font-family-base);
      font-weight: var(--#{$prefix}body-font-weight);
    }
  }

  .error {
    &-message {
      height: 20px;
      color: var(--#{$prefix}-error-message-form);
      margin-bottom: 15px;
    }
  }

  // input borders
  .is-invalid {
    border-color: var(--#{$prefix}-error-message-form);
  }
}
