h1,
h2,
h3,
.h1,
.h2,
.h3 {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-weight: 200;
	line-height: var(--#{$prefix}line-height-heading);
	margin-top: 0;
	margin-bottom: 0.5rem;
	color: map-get($dmgColours, blue)

}

h1,
.h1 {
	font-size: var(--#{$prefix}h1-font-size);
}

h2,
.h2 {
	font-size: var(--#{$prefix}h2-font-size);
	font-weight: 400;
	&.first{
		font-size: 2rem;
		margin-top: 1rem;
	}
}

h3,
.h3 {
	font-size: var(--#{$prefix}h3-font-size);
	font-weight: 400;
}


p {
	margin-top: 0;
	margin-bottom: 1rem;
}

strong{
	color: var(--#{$prefix}strong-font-color);
}

a {
	color: var(--#{$prefix}link-colour);
	text-decoration: none;
	transition: color 0.2s ease-in-out;
	&:hover{
		color: var(--#{$prefix}link-colour-hover);
		text-decoration: underline;
	}
	&.active{
		color: var(--#{$prefix}link-colour-hover) !important;
	}

	// &:visited {
	// 	color: var(--#{$prefix}link-colour-hover);
	// }

}