/// 
/// Boostrap Overrides
/// 
/// 

/// SCSS Prefix. Adjust this to change the prefix for all classes.
/// @group sv
$prefix: "dmg-";

/// Base White
/// @group cv
/// @type colour
$white: #ffffff;
$whiteRGBA: hex-to-rgba($white, 1);

/// Base Black
/// @group cv
/// @type colour
$black: #000000;
$blackRGBA: hex-to-rgba($black, 1);

/// Site Colours
/// @group cv
/// @type colour
$dmgColours: (
  black: $black,
  white: $white,
  blue: #004360,
  royalBlue: #005EB8,
  orange: #E86000,
  red: #B4001E,
  yellow: #FFD228,
  green: green
);

/// Monochromatic Colours
/// @group cv
/// @type colour
$monochrome: (
  100:#000000,
  105:#0d0d0d,
  110:#1b1b1b,
  115:#282828,
  120:#363636,
  125:#434343,
  130:#515151,
  135:#5e5e5e,
  140:#6b6b6b,
  145:#797979,
  150:#868686,
  155:#949494,
  160:#a1a1a1,
  165:#aeaeae,
  170:#bcbcbc,
  175:#c9c9c9,
  180:#d7d7d7,
  185:#e4e4e4,
  190:#f2f2f2,
  195:#ffffff,
  ) !default;

/// Sans Serif Font Family
/// @group tv
$font-family-sans-serif: "Roboto",
  "Helvetica Neue",
  Arial,
  sans-serif !default;

/// Serif Font Family
/// @group tv
$font-family-serif: "Georgia",
  "Times New Roman",
  Times,
  serif !default;

/// Base font size
/// @group tv
$font-size-base: 1.25rem !default; // this can only have a REM unit, PX will cause an error

/// base font wieght
/// @group tv
$font-base-weight: 400;

/// Base line height
/// @group tv
$line-height-base: 1.5; // this can only have a REM unit, PX will cause an error

/// Base Heading Line Height
/// @group tv
$line-height-heading: 1.2;

/// Base font colour
/// @group tv
$base-colour: map-get($monochrome, 105); // default base color

/// Strong font colour
/// @group tv
$strong-colour: map-get($monochrome, 100);

/// Link Colour
/// @group tv
$link-colour: map-get($dmgColours, blue);
$link-colour-hover: map-get($dmgColours, orange);
$link-colour-visted: map-get($dmgColours, orange);
$link-colour-underline: map-get($dmgColours, orange);
$link-colour-focus: map-get($dmgColours, orange);
$link-colour-active: map-get($dmgColours, orange);


/// font size increase
/// 
$fontSize: (
  f125: $font-size-base * 1.25,
  f150: $font-size-base * 1.5,
  f175: $font-size-base * 1.75,
  f200: $font-size-base * 2,
);

// package cards

/// Grid breakpoints Updates
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);

/// Container max widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1400px,
  xxl: 1440px
);

/// Control the default styling of most Bootstrap elements by modifying these
/// variables. Mostly focused on spacing.
$spacer: 10px;
$spacers: (
);
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge((0: 0,
      1: ($spacer * 0.5), // 5px
      2: ($spacer * 1), // 10px
      3: ($spacer * 1.5), // 15px
      4: ($spacer * 2), // 20px
      5: ($spacer * 2.5), // 25px
      6: ($spacer * 3), // 30px
      7: ($spacer * 3.5) // 35px
    ), $spacers);
// This variable affects the `.h-*` and `.w-*` classes.

$sizes: (
);
// stylelint-disable-next-line scss/dollar-variable-default
$sizes: map-merge((25: 25%,
      33: 33%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto), $sizes);

/// basic BS items


/// navbar
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;
$navbar-toggler-font-size: 1.75rem;

/// offcanvas
$offcanvas-bg-color: map-get($dmgColours, white);
$offcanvas-horizontal-width: 100vw;
$offcanvas-color: map-get($dmgColours, black);

// dropdown
$dropdown-bg-color: map-get($dmgColours, white);
$drowdown-border-color: transparent;
$dropdown-border-radius: 0;
$dropdown-border-width: 0;
$dropdown-spacer: 10px;

// cards
$card-spacer-y: $spacer;
$card-spacer-x: $spacer;
$card-title-spacer-y: $spacer * .5;
$card-title-color: map-get($dmgColours, blue);
$card-subtitle-color: null;
$card-border-width: 0;
$card-border-color: null;
$card-border-radius: null;
$card-inner-border-radius: null;
$card-cap-padding-y: $card-spacer-y * .5;
$card-cap-padding-x: $card-spacer-x;
$card-cap-bg: null;
$card-cap-color: null;
$card-height: null;
$card-color: null;
$card-bg: null;
$card-img-overlay-padding: $spacer;
$card-group-margin: 2px * .5;

/* custom variable values:END */

// button colours
$btn-heroBanner-primary-bg: $white;
$btn-heroBanner-primary-text: map-get($dmgColours, blue);
$btn-heroBanner-secondary-bg: map-get($dmgColours, blue);
$btn-heroBanner-secondary-text: $white;

$btn-primary-bg: map-get($dmgColours, blue);
$btn-primary-text: $white;
$btn-secondary-bg: map-get($dmgColours, white);
$btn-secondary-text: map-get($dmgColours, blue);
$btn-secondary-border: map-get($dmgColours, blue);
$btn-icon-colour: map-get($dmgColours, orange);

//forms
$input-btn-focus-box-shadow: map-get($dmgColours, red);

//messages
$form-error: map-get($dmgColours, red);

// border
$brd-radius: 5px;
$brd-width: 2px;
$brd-colour: map-get($monochrome, 150);

/* Utilities */