
@import "componentInclude";

// @import "colourModes";

// skip to main items
.skipToMain {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 50%;
  transform: translateY(-100%);
  padding: 25px 50px;
  background-color: $white;
  &:focus {
    transform: translateY(10%);
  }
}

// focus state
a {
  &:focus {
  }
}

footer {
  min-height: 100px;
  background: var(--web-gray-900);
}


header{
  position: sticky;
  z-index: 50;
  top: 0;
  background-color: $white;
}

footer{
  // background-color: var(--dmg-monochrome-185);
  padding: 15px 0;
}