*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  color-scheme: light;
  margin: 0;
  font-size: var(--#{$prefix}font-size-base);
  font-family: var(--#{$prefix}font-family-base);
  font-style: normal;
  font-weight: var(--#{$prefix}body-font-weight);
  line-height: var(--#{$prefix}line-height-base);
  color: var(--#{$prefix}base-colour);
}